{% extends 'posts/base.html' %}
{% load static %}
{% load materializecss %}

{% block content %}
    <div class="card z-depth-2">
        <div class="card-content">
          <span style="margin-bottom: 0px" class="card-title teal-text">{{ post.title|title }}</span>
          <small class="grey-text">By {{ post.author.username }} about {{ post.published_at|timesince }} ago</small>
          <br><br>
            {{ post.body|linebreaks}}
        </div>
        <div class="card-action">
          <span class="hide-on-small-only orange-text right"> {{ post.views_count }} </span><i style="margin-right: 1%" class="hide-on-small-only teal-text right material-icons">visibility</i>
          <a class="likebtn"  data-url="{% url 'post_like' post.slug %}" likes-count="{{ post.likes_count }}"><span class="right"> {{ post.likes_count }} </span><i style="margin-right: 1%" class="teal-text right material-icons">thumb_up</i></a>
          {% if post.author == user %}
            <a href="{% url 'post_update' post.slug %}" class="left">Update</a>
            <a href="{% url 'post_delete' post.slug %}" class="red-text left">Delete</a>
          {% endif %}
          <a href="{% url 'post_list' %}" class="hide-on-med-and-down teal-text left">Go Back</a>
        </div>
    </div>
  <br><br>

{% if user.is_authenticated %}
  <form method="POST">
    <div class="row">
      <div class="col s12">
        {% csrf_token %}
          {{ form.body | materializecss }}
      </div>
      <div class="col s12">
        <button type="submit" class="right btn waves-effect waves-light teal">Comment</button>
    </div>
    </div>
  </form>
{% else %}
<div>
   <input disabled value="Login to comment..." id="disabled" type="text" class="validate"><p></p>
  <a href="{% url  'login' %}?next={{ request.path }}" class="right btn waves-effect waves-light teal">Login</a>
</div>
{% endif %}
         
  <br><br>
  <h5 class="center-align teal-text">{{ post.comments_count }} Comments</h5>
  {% if object_list %}
   <div class="infinite-container">
      {% for comment  in object_list %}
      <div class="card  infinite-item z-depth-2">
        <div class="card-content row ">
            <div class="col s12 m4 center-align">
              <img width="50" height="50" src="{% static "imgs/default.jpg" %}" alt="profile-picture" class=" circle">
              <br>{{ comment.author.username }}<br><br>
            </div>
              <div class="col s12 m8">
              {% if comment.body|length > 15 %}
                {{ comment.body| slice:":15" | linebreaksbr }}<span class="dots">...<br></span><span class="more" style="display: none">{{ comment.body| slice:"15:" | linebreaksbr }}</span>
                <a class="read orange-text">Read More</a>
              {% else %}
                {{ comment.body }}
              {% endif %}
                <br><br><small>{{ comment.published_at| timesince }} ago</small>
              </div>
            </div>
          
        </div>
      {% endfor %}
    </div>

 <div class="loading" style="display: none;">
    <br>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    <br>
    </div>

    {% if page_obj.has_next %}
      <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}

  {% endif %}
      
{% endblock %}

{% block custom_js %}
<script>

 var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      },
    });

$(document).on("click", '.read', function(e) {
  $(this).prev().fadeToggle('fast', 'linear');
   var text = $(this).text();
   if (text == "Read More"){
     var obj = $(this).text('\nRead Less');
     obj.html(obj.html().replace(/\n/g,'<br/>'));
   }
   else {
     $(this).text('Read More');
   }
  $(this).siblings('.dots').toggle();
});

{% if user.is_authenticated %}
    $(document).on("click", '.likebtn', function(e) { 
      e.preventDefault()
      var this_ = $(this);
      var likeUrl = this_.attr('data-url');
      var likesCount = parseInt(this_.attr('likes-count'));

      $.ajax({
        url: likeUrl, 
        method: 'GET',
        data: {},
        success: function(data){
          this_.find('span').text(data.newCount);
        }
      }); 
    });
  {% endif %}

</script>
{% endblock %}