{% extends 'posts/base.html' %}

{% block content %}
    <div class="card z-depth-2">
        <div class="card-content center-align">
            <i class="orange-text medium material-icons">report</i>
            <form method="POST">
                {% csrf_token %}
                <h5 class="grey-text">Are you sure you would like to delete this post?</h5>
                <br>
                <a href="{% url 'post_detail' post.slug %}" class="btn blue">Cancel</a>
                <button type="submit" class="btn orange">Delete</button>
            </form>

        </div>
    </div>
{% endblock %}


