{% extends 'posts/base.html' %}
{% load materializecss %}

{% block content %}
<div class="card hoverable z-depth-2">
    <div class="card-content">
        <h4 class="center-align grey-text lighten-1">Reset Password</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.email|materializecss:'icon=mail_outline' }}
            <div class="center-align">
                <button class="btn waves-effect z-depth-1 mtop" type="submit" name="action">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
