{% extends 'posts/base.html' %}
{% load static %}
{% load materializecss %}
{% block content %}
        <div class="card-panel grey lighten-5 z-depth-2">
            <div class="row valign-wrapper  hide-on-med-and-down">
                <div class="col s12 m4 center-align">
                  {% comment %} {% if user.profile.picture %}
                    <img style="margin-top:12%" width="125" height="125" src="{{ user.profile.picture.url }}" alt="profile-picture" class=" circle responsive-img z-depth-3">
                  {% else %} {% endcomment %}
                    <img style="margin-top:12%" width="125" height="125" src="{% static "imgs/default.jpg" %}" alt="profile-picture" class=" circle responsive-img z-depth-3">
                  {% comment %} {% endif %} {% endcomment %}
                </div>
                <div class="col s12 m8">
                  <h5 class="teal-text">{{ user.username }}</h5>
                  <span class="grey-text">{{ user.email }}</span>
                  <div class="mtop">
                  </div>
                </div>
            </div>
            <div class="row hide-on-large-only center-align">
                <div class="col s12">
                  {% comment %} {% if user.profile.picture %}
                    <img style="margin-top:12%" width="125" height="125" src="{{ user.profile.picture.url }}" alt="profile-picture" class=" circle responsive-img z-depth-3">
                  {% else %} {% endcomment %}
                    <img style="margin-top:12%" width="125" height="125" src="{% static "imgs/default.jpg" %}" alt="profile-picture" class=" circle responsive-img z-depth-3">
                  {% comment %} {% endif %} {% endcomment %}
                </div>
                <div class="col s12">
                  <h5 class="teal-text">{{ user.username }}</h5>
                  <span class="grey-text">{{ user.email }}</span>
                  <div class="mtop">
                  </div>
                </div>
            </div>
          </div>

          <div class="card hideme" style="display: none">
              <div class="card-content center-align z-depth-2">
                  <h5 class="grey-text lighten-1">Edit Profile</h5>
                  {% comment %} <form method="POST" enctype="multipart/form-data"> {% endcomment %}
                  <form method="POST">
                  {% csrf_token %}
                    {{ form | materializecss }}
                    {% comment %} {{ profile_form.picture |materializecss:'s12' }} {% endcomment %}
                  <button type="submit" class="btn-floating waves-effect waves-light teal"><i class="material-icons">save</i></button>
                  </form>
                  <div class="pbtm">
                    <small class="left" onclick="return confirm('Are you sure? All your data wil be deleted.')"><a href="{% url 'profile_delete' %}" class="orange-text">Delete Account?</a></small>
                  </div>
              </div>
          </div>

          <div class="fixed-action-btn">
            <a class="btn-floating btn-large red lighten-1">
              <i class="large material-icons">perm_identity</i>
            </a>
            <ul>
              {% comment %} <li><a href="{% url 'profile_reset_picture' %}" class="btn-floating amber lighten-1 tooltipped" data-position="left" data-tooltip="Reset Profile Image"><i class="material-icons">portrait</i></a></li> {% endcomment %}
              <li><a class="hideit btn-floating orange darken-1 tooltipped" data-position="left" data-tooltip="Edit Profile Info"><i class="material-icons">create</i></a></li>
            </ul>
          </div>
{% endblock %}

{% block custom_js %}
<script>
  $(document).ready(function(){
   $('.fixed-action-btn').floatingActionButton();
   $('.tooltipped').tooltip();
});
</script>
{% endblock %}

